 h1{
    color: #fff;
 }
 h3
{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    
}
body{
    background-color: rgb(0, 0, 0);
    display: grid;
}

.top{
    text-align: center;
    
}
.my {
    max-width: 800px;
    margin: 40px ;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 100px rgba(162, 136, 136, 0.1);
}

.car {
    
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 100px rgba(162, 136, 136, 0.1);
}
.skill
{
   
    max-width: 800px;
    margin: 40px 250px;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 100px rgba(162, 136, 136, 0.1);
}
.Area
{
    
    max-width: 800px;
    margin: 100px 200px;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 100px rgba(162, 136, 136, 0.1);
}